@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
.home_doorText {
    animation: fadein 4s;
    font-size: 40px;
}
    .home_doorText a {
        text-decoration-line: none;
        color: #000000;
    }
    .home_doorText a:hover {
        color: #0e3b44;
    }

.home_door {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 300px;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border-radius: 30px;
    background-color: rgba( 255, 255, 255, 0.7 );
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to { opacity: 1;}
}
@-moz-keyframes fadein {
    from {opacity: 0;}
    to { opacity: 1;}
}
@-o-keyframes fadein {
    from {opacity: 0;}
    to { opacity: 1;}
}
@-ms-keyframes fadein {
    from {opacity: 0;}
    to { opacity: 1;}
}
