.password__container {
    display: grid;
    grid-template-rows:1fr 2fr;
    width: 600px;
    height: 300px;
    place-items:center;
}
    .password__container > h1 {
    }
    .password__container > form {
        display: grid;
        grid-template-rows: 120px 80px;
    }
.textBoxes {
    display: grid;
    grid-template-columns: repeat(6,60px);
    padding-top:10px;
    column-gap:10px;
    height:80px;
}
    .textBoxes > input {
        box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
        border-radius: 3px;
        background-color: rgba( 255, 255, 255, 0.7 );
        border-style:hidden;
        text-align: center;
        font-size: 40px;
    }
.password__action {
    margin:auto;
}
.password__button {
    width: 50px;
    height: 30px;
    text-decoration: none;
    box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    border-radius: 3px;
    background-color: rgba( 255, 255, 255, 0 );
    border-style: hidden;
    text-align: center;
    color: rgba( 255, 255, 255, 0.8 );
}
.password__action>input[type=reset]{
    margin-left:10px;
}